<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Curation Dashboard</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="icon" th:href="@{/images/favicon.png}" type="image/png" />

<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Curation Dashboard">
<!-- 
<link rel="stylesheet" id="fundament-styles"
   th:href="@{/fundament/css/fundament.min.css}" type="text/css" />
 -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
	crossorigin="anonymous">
<!-- 	
<link rel="stylesheet" id="curation-styles"
	th:href="@{/css/curation.css}" type="text/css" />
	 -->
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" id="dropzone-styles"
	th:href="@{/css/dropzone.min.css}" type="text/css" />

</head>
<body class="home">
   <!-- navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<div class="navbar-header">
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				    <a class="navbar-brand">Curation Dashboard @version@</a>
		   </div>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Validator</a></li>
					<li class="nav-item"><a class="nav-link" href="/profile">Profiles</a></li>
					<li class="nav-item"><a class="nav-link" href="/collection">Collections</a></li>
					<li class="nav-item"><a class="nav-link" href="/linkchecker">Link	checking</a></li>
					<li class="nav-item"><a class="nav-link" href="/help">Help</a></li>
					<li class="nav-item"><a class="nav-link" href="/faq">FAQ</a></li>
				</ul>
			</div>
			<div  class="nav navbar-nav navbar-right">
			<img th:src="@{/images/clarin-logo-wide.png}">
			</div>
		</div>	
	</nav>
   <!-- content -->
	<div class="container-fluid">
		<div id="content" class="fullscreen content" th:insert="${insert}">
			<!--Here comes dynamic content from jsoup-->
		</div>
   </div>
   <!-- footer -->
	<footer class="container-fluid fixed-bottom bg-gray" id="footer" tabindex="-1">
		<ul class="nav justify-content-center">
			<li class="nav-item">
					<a	class="nav-link px-2 text-muted" href="https://github.com/clarin-eric/curation-dashboard">CODE</a>
			</li>
		   <li class="nav-item">
					<a class="nav-link px-2 text-muted" href="mailto:curation@clarin.eu">FEEDBACK</a>
			</li>
		</ul>
	</footer>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
		crossorigin="anonymous"></script>
	<script type="text/javascript"
		th:src="@{/fundament/vendor/jquery/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/fundament/js/fundament.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/dropzone.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/curation.js}"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
	<!-- Matomo -->
	<script type="text/javascript">
		var _paq = window._paq = window._paq || [];
		/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		_paq.push([ 'trackPageView' ]);
		_paq.push([ 'enableLinkTracking' ]);
		(function() {
			var u = "https://stats.clarin.eu/";
			_paq.push([ 'setTrackerUrl', u + 'matomo.php' ]);
			_paq.push([ 'setSiteId', '37' ]);
			var d = document, g = d.createElement('script'), s = d
					.getElementsByTagName('script')[0];
			g.type = 'text/javascript';
			g.async = true;
			g.src = u + 'matomo.js';
			s.parentNode.insertBefore(g, s);
		})();
	</script>
	<!-- End Matomo Code -->
</body>

</html>