.fullscreenTable {
    height: calc(100vh - 241.2px); //header and footer heights total to 241.2px
}

.leftMenu {
    z-index:999;
}

.tableFixHead th {
    position: sticky; top: 0;
    background-color: white;
 }