<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" name="curation-app">
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %p [%c{1}#%M:%L] - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="error">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>