.fullscreen {
    //min-height: calc(100vh - 241.2px); //header and footer heights total to 241.2px
    min-height: 70vh;
}

.content {
    padding-bottom: 11vh;
}

.leftMenu {
    z-index:999;
}

.leftButton {
    width: 100%;
}

.footerSize {
    height:10vh !important;
}

.dragAndDropBox{
    width:400px;
    height:300px;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instanceElement{
    padding: 15px;
}

.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}