<v-vertical-layout margin width="100%" height="30%" >
	<v-horizontal-layout spacing width="100%">
		<v-text-field _id="tfInstance" input-prompt="URL of an instance" :expand="9" width="100%"/>
		<v-button _id="bInstance" :expand="1" width="100%" >Asses Instance</v-button>
	</v-horizontal-layout>
	
	<v-horizontal-layout spacing width="100%">
		<v-text-field _id="tfProfile" input-prompt="URL or ID of a profile" :expand="9" width="100%"/>
		<v-button _id="bProfile" :expand="1" width="100%" >Asses Profile</v-button>
	</v-horizontal-layout>
</v-vertical-layout>
