<v-vertical-layout margin width="100%" spacing>
	<v-horizontal-layout spacing width="100%">
		<v-text-field _id="tfInstance" input-prompt="URL of an instance" :expand="7" width="100%"/>
		<v-button _id="bInstance" width="20ex" :expand="1" >Asses Instance</v-button>
	</v-horizontal-layout>
	
	<v-horizontal-layout spacing width="100%">
		<v-text-field _id="tfProfile" input-prompt="URL or ID of a profile" :expand="7" width="100%"/>
		<v-button _id="bProfile" width="20ex" :expand="1">Asses Profile</v-button>
	</v-horizontal-layout>
</v-vertical-layout>
