<vaadin7-vertical-layout size-full>
    <vaadin7-label>
        <h1>Curation Module</h1>        
        <p align="justify">
            Curation Module is a project founded by <a href="http://www.clarin.eu/">CLARIN</a>
            EU project. Its goal is to help CMD&nbsp;meta-data authors and curators
            improving meta-data quality. The curation  More information about CMD framework can
            be found <a href="https://www.clarin.eu/content/component-metadata">here</a>.
            
            The application analyses individual CMD profiles, records and whole collections according to a number of quality criteria and generates
            statistics in the XML format which can be used by humans or machines to discover potential problems leading to a lower quality.            
            The web application allows users to examine individual profiles and records via web form or via RESTful API.
            
            On the "Public Profiles" view users can find information about preprocessed public CMD profiles. Also there is a link to the 
            <a href="https://clarin.oeaw.ac.at/smc-browser">SMC Browser</a> in which users can explore the structure of CMD profiles and components.
            "Collection" view contains statistical information about preprocessed collections.
            
            Code can be found on <a href="https://github.com/acdh-oeaw/clarin-curation-module/">github</a>.
        </p>
        
        <h3>Usage</h3>        
        <p>The web form accepts as an input for the instances curation an URL to CMD record and in case of the profiles curation an URL or 
        an ID in format: clarin.eu:cr1:p_xxxxxxxxxxxxx</p>
        
        <h3>Rest API</h3>
        
        <h5>Profile Curation</h5>
        <p>rest/profile/id/clarin.eu:cr1:p_xxxxxxxxxxxxx
        <p>rest/profile/?url=URL</p>
        
        <h5>Instance Curation</h5>
        <p>rest/instance/?url=URL</p>
    </vaadin7-label>
    
</vaadin7-vertical-layout>