// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples


//.cm-logo a img { width: XXXpx;}

//Dark Valo theme

$v-app-loading-text: "CLARIN Curation Module";
$v-background-color: #444d50;
$v-focus-color: #07a9ca;
$v-focus-style: 0 0 3px 2px $v-focus-color;
$v-bevel-depth: 40%;
$v-gradient: v-linear 12%;
$v-border-radius: 10px;
$v-font-family: Roboto, sans-serif;
$v-font-weight: 400;
$v-font-weight--header: 400;
$v-bevel: inset 0 1px 2px v-tint, inset 0 0 1px (v-tint 0.1);
$v-shadow: 0 0 0 3px rgba(0,0,0,0.32), 0 1px 0 3px rgba(255,255,255,0.14);
$v-textfield-bevel: inset 0 2px 2px v-shade;
$v-textfield-shadow: $v-shadow;
$v-unit-size: 40px;
$v-overlay-shadow: 0 0 0 3px (v-shade 8), 0 5px 10px (v-shade 4);
$v-component-group-spacing: 6px;

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;
  
  // Insert your own theme rules here
  
  .header{
  	background-color: #1de9b6;
  }
  
  .header-title{
  	display: block;
    font-size: 48px;
  	font-weight: bold;
  	text-align: center;
  }
  
  .cm-logo v-link{
  	 target-name:new;
	 target-new:tab;
  }
    
  .content{
  	color:#a7ffeb;
  }
  
  
  .v-button-link {
    text-align: left;
  }
  
  .v-button-link:focus:after{
   outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  }
  
  .center-txt-align {
  	text-align: center;
  }
  
  .form-top-margin-25 {
  	margin-top:25px;
  }
  
  .form-top-margin-50 {
  	margin-top:50px;
  }
  
  .v-grid-cell {
   	height: 25px;
   	font-size: 12px;
   	padding: 0 15px;
   	line-height: 25px;
  }
  
  .v-grid-header th{
   	height: 40px;
   	font-size: 14px;
   	padding: 0 15px;
   	line-height: 40px;
  }
  
  .v-grid-cell.facetCovered {
     background: #5d7e3d;
  }
  
  .v-grid-cell.facetNotCovered {
    background: #bc564f;
  }
  
  .v-textfield-filter {
   	height: 85%;
   	width: 90%;
   	font-weight: 500;
  }

  .drop-area {
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        
        padding: 40px;
        border: 8px dashed #a4a4a2;
  }

  .drop-area .v-label {
        color: #919083;
        font-weight: bold;
        font-size: 17px;
  }
  
}
