body{
	margin-left: 15px;
	font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    cellpadding: 1px;
    cellspacing: 1px;
     
}

thead, tfoot{
	border: 2px;
	background-color: #0006
}

h1{
	text-align: center;
}