<div class="container-fluid">

	<div class="row mt-5 mb-5">
		<div class="col-8">
			<form action="/curate" id="urlForm">
				<input class="form-control" type="text" placeholder="CMD record URL / CMD profile URL"
					   id="url-input"
					   name="url-input" required>
			</form>
		</div>
		<div class="col-4">
			<button class="btn btn-primary" id="validateButton" type="submit" form="urlForm">Validate</button>
		</div>
	</div>
	<div class="row mt-5 mb-5" hidden="true">
		<span>Validating...</span>
		<div class="spinner-border" role="status">

		</div>
	</div>

	<div class="row">
		<div class="dropzone dragAndDropBox" id="cmdi-dropzone">
			<div class="dz-message">
				Drag a CMD record / CMD profile here or click to open file browser
			</div>
		</div>
	</div>
</div>