<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Curation Module</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-title" content="Curation Module">
		<link rel="stylesheet" id="fundament-styles" href="/view/fundament/css/fundament.min.css" type="text/css"/>

	</head>
	<body class="home">
		<div class="hfeed site" id="page">

			<!-- ******************* The Navbar Area ******************* -->
			<div class="wrapper-fluid wrapper-navbar sticky-navbar" id="wrapper-navbar" itemscope
			     itemtype="http://schema.org/WebSite">
				<a class="skip-link screen-reader-text sr-only" href="#content">Skip to content</a>
				<nav class="navbar navbar-expand-lg navbar-light">

						<!-- Your site title as branding in the menu -->
						<a href="/" class="navbar-brand custom-logo-link" rel="home" itemprop="url"><img
								src="/view/fundament/images/fundament_logo.svg" class="img-fluid" alt="Fundament Logo"
								itemprop="logo"/></a><!-- end custom logo -->
						<a class="navbar-brand site-title-with-logo" rel="home" href="/" title="Fundament"
						   itemprop="url">Fundament</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse"
						        data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
						        aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
							<!-- Your menu goes here -->
							<ul id="main-menu" class="navbar-nav">
								<li class="nav-item active"><a title="Home" href="/" class="nav-link">Home</a></li>
								<li class="nav-item dropdown">
									<a title="Dropdown" href="#" data-toggle="dropdown"
									   class="nav-link dropdown-toggle">Dropdown <span class="caret"></span></a>
									<ul class=" dropdown-menu" role="menu">
										<li class="nav-item dropdown-submenu">
											<a title="Level 1" href="#" class="nav-link">Level 1</a>
										</li>
									</ul>
								</li>
								<li class="nav-item"><a title="Documentation" href="#"
								                        class="nav-link">Documentation</a></li>
							</ul>
							<form class="form-inline my-2 my-lg-0 navbar-search-form" method="get" action="/"
							      role="search">
								<input class="form-control navbar-search" id="s" name="s" type="text"
								       placeholder="Search" value="" autocomplete="off">
								<button type="submit" class="navbar-search-icon">
									<i data-feather="search"></i>
								</button>
							</form>
						</div>
						<!-- .collapse navbar-collapse -->

					<!-- .container -->
				</nav>
				<!-- .site-navigation -->
			</div>
			<!-- .wrapper-navbar end -->
			<div class="wrapper" id="wrapper-hero">
				<!-- ******************* The Hero Area ******************* -->
				<div class="wrapper" id="wrapper-hero-content">
					<div class="container hero-dark" id="wrapper-hero-inner" tabindex="-1">
						<h1>Hello, world! Ich heiße Fundament.</h1>
						<p>I’m a starter HTML, CSS and JavaScript framework for web applications. Use me to create
							accessible, modern and responsive websites that follow the design guidelines of ACDH. This
							jumbotron can be especially nice to quickly present your application to your visitors.</p>
						<button class="btn btn-round">Read More</button>
					</div>
				</div>
				<!-- #wrapper-hero-content -->
			</div>
			<div class="wrapper" id="index-wrapper">
				<div class="container" id="content" tabindex="-1">
					<div class="row">
						<!-- Do the left sidebar check and opens the primary div -->
						<div class="col-md-12 content-area" id="primary">
							<main class="site-main" id="main">
								<!-- Use custom content block templates if they are defined -->
								<h5 class="content-block-title"><span class="separator-title">Cards with Images</span>
								</h5>
								<div class="card-wrapper">
									<article class="card col-md-4 flat-style">
										<div class="card-inner card-vertical" style="min-height:420px;">
											<a class="entry-top-thumbnail" style="height:230px;" href="#"
											   rel="bookmark">
												<img width="1024" height="684"
												     src="/view/fundament/images/example-img-1.jpg" alt=""/>
											</a>
											<div class="entry-text-content">
												<header class="entry-header">
													<h4 class="entry-title"><a href="#" rel="bookmark" class="light">Example
														Post Title</a></h4>
												</header>
												<!-- .entry-header -->
												<div class="entry-content">
													<p>Use me to create accessible, modern and responsive websites that
														follow the design guidelines of ACDH.</p>
													<a class="btn btn-round mb-1" href="#">Read More</a>
												</div>
												<!-- .entry-content -->
											</div>
											<!-- .entry-text-content -->
										</div>
										<!-- .card-inner -->
									</article>
									<!-- #post-## -->
									<article class="card col-md-4 flat-style">
										<div class="card-inner card-vertical" style="min-height:420px;">
											<a class="entry-top-thumbnail" style="height:230px;" href="#"
											   rel="bookmark">
												<img width="1024" height="684"
												     src="/view/fundament/images/example-img-1.jpg" alt=""/>
											</a>
											<div class="entry-text-content">
												<header class="entry-header">
													<h4 class="entry-title"><a href="#" rel="bookmark" class="light">Example
														Post Title</a></h4>
												</header>
												<!-- .entry-header -->
												<div class="entry-content">
													<p>Use me to create accessible, modern and responsive websites that
														follow the design guidelines of ACDH.</p>
													<a class="btn btn-round mb-1" href="#">Read More</a>
												</div>
												<!-- .entry-content -->
											</div>
											<!-- .entry-text-content -->
										</div>
										<!-- .card-inner -->
									</article>
									<!-- #post-## -->
									<article class="card col-md-4 flat-style">
										<div class="card-inner card-vertical" style="min-height:420px;">
											<a class="entry-top-thumbnail" style="height:230px;" href="#"
											   rel="bookmark">
												<img width="1024" height="684"
												     src="/view/fundament/images/example-img-1.jpg" alt=""/>
											</a>
											<div class="entry-text-content">
												<header class="entry-header">
													<h4 class="entry-title"><a href="#" rel="bookmark" class="light">Example
														Post Title</a></h4>
												</header>
												<!-- .entry-header -->
												<div class="entry-content">
													<p>Use me to create accessible, modern and responsive websites that
														follow the design guidelines of ACDH.</p>
													<a class="btn btn-round mb-1" href="#">Read More</a>
												</div>
												<!-- .entry-content -->
											</div>
											<!-- .entry-text-content -->
										</div>
										<!-- .card-inner -->
									</article>
									<!-- #post-## -->
								</div>
								<!-- .card-wrapper -->
								<h5 class="content-block-title"><span
										class="separator-title">Cards with Image Overlays</span></h5>
								<div class="card-wrapper">
									<article class="card col-md-4 flat-style">
										<div class="card-inner card-image-overlay" style="min-height:150px;">
											<a class="entry-top-thumbnail" href="#" rel="bookmark">
												<img width="1024" height="684"
												     src="/view/fundament/images/example-img-2.jpg" alt=""/>
												<div class="card-overlay-background"
												     style="background-color:rgba(78,95,104,0.75)"></div>
											</a>
											<div class="entry-text-content">
												<header class="entry-header">
													<h4 class="entry-title">
														<a href="#" rel="bookmark" class="dark">Example Post Title</a>
													</h4>
												</header>
												<!-- .entry-header -->
											</div>
											<!-- .entry-text-content -->
										</div>
										<!-- .card-inner -->
									</article>
									<!-- #post-## -->
									<article class="card col-md-4 flat-style">
										<div class="card-inner card-image-overlay" style="min-height:150px;">
											<a class="entry-top-thumbnail" href="#" rel="bookmark">
												<img width="1024" height="684"
												     src="/view/fundament/images/example-img-2.jpg" alt=""/>
												<div class="card-overlay-background"
												     style="background-color:rgba(78,95,104,0.75)"></div>
											</a>
											<div class="entry-text-content">
												<header class="entry-header">
													<h4 class="entry-title">
														<a href="#" rel="bookmark" class="dark">Example Post Title</a>
													</h4>
												</header>
												<!-- .entry-header -->
											</div>
											<!-- .entry-text-content -->
										</div>
										<!-- .card-inner -->
									</article>
									<!-- #post-## -->
									<article class="card col-md-4 flat-style">
										<div class="card-inner card-image-overlay" style="min-height:150px;">
											<a class="entry-top-thumbnail" href="#" rel="bookmark">
												<img width="1024" height="684"
												     src="/view/fundament/images/example-img-2.jpg" alt=""/>
												<div class="card-overlay-background"
												     style="background-color:rgba(78,95,104,0.75)"></div>
											</a>
											<div class="entry-text-content">
												<header class="entry-header">
													<h4 class="entry-title">
														<a href="#" rel="bookmark" class="dark">Example Post Title</a>
													</h4>
												</header>
												<!-- .entry-header -->
											</div>
											<!-- .entry-text-content -->
										</div>
										<!-- .card-inner -->
									</article>
									<!-- #post-## -->
								</div>
								<!-- .card-wrapper -->
							</main>
							<!-- #main -->
							<!-- The pagination component -->
						</div>
						<!-- #primary -->
						<!-- Do the right sidebar check -->
					</div>
					<!-- .row -->
				</div>
				<!-- Container end -->
			</div>
			<!-- Wrapper end -->
			<div class="wrapper fundament-default-footer" id="wrapper-footer-full">
				<div class="container" id="footer-full-content" tabindex="-1">
					<div class="footer-separator">
						<i data-feather="message-circle"></i> CONTACT
					</div>
					<div class="row">
						<div class="footer-widget col-lg-1 col-md-2 col-sm-2 col-xs-6 col-3">
							<div class="textwidget custom-html-widget">
								<a href="/"><img
										src="https://fundament.acdh.oeaw.ac.at/common-assets/images/acdh_logo.svg"
										class="image" alt="ACDH Logo" style="max-width: 100%; height: auto;"
										title="ACDH Logo"></a>
							</div>
						</div>
						<!-- .footer-widget -->
						<div class="footer-widget col-lg-4 col-md-4 col-sm-6 col-9">
							<div class="textwidget custom-html-widget">
								<p>
									ACDH-ÖAW
									<br>
									Austrian Centre for Digital Humanities
									<br>
									Austrian Academy of Sciences
								</p>
								<p>
									Sonnenfelsgasse 19,
									<br>
									1010 Vienna
								</p>
								<p>
									T: +43 1 51581-2200
									<br>
									E: <a href="mailto:acdh@oeaw.ac.at">acdh@oeaw.ac.at</a>
								</p>
							</div>
						</div>
						<!-- .footer-widget -->
						<div class="footer-widget col-lg-3 col-md-4 col-sm-4 ml-auto">
							<div class="textwidget custom-html-widget">
								<h6>HELPDESK</h6>
								<p>ACDH runs a helpdesk offering advice for questions related to various digital
									humanities topics.</p>
								<p>
									<a class="helpdesk-button" href="mailto:acdh-helpdesk@oeaw.ac.at">ASK US!</a>
								</p>
							</div>
						</div>
						<!-- .footer-widget -->
					</div>
				</div>
			</div>
			<!-- #wrapper-footer-full -->
			<div class="footer-imprint-bar" id="wrapper-footer-secondary"
			     style="text-align:center; padding:0.4rem 0; font-size: 0.9rem;">
				© Copyright OEAW | <a href="https://www.oeaw.ac.at/die-oeaw/impressum/">Impressum/Imprint</a>
			</div>
		</div>
		<script type="text/javascript" src="/view/fundament/vendor/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="/view/fundament/js/fundament.min.js"></script>
	</body>

</html>